@charset "UTF-8";
:root {
  --color-grey-500: #4d4f62;
  --color-grey-400: #6a7178;
  --color-white: #ffffff;
  --color-background: #fafafa;
  --color-shadow: rgba(131, 166, 210, 0.5);
  --border-color-red: #ea5454;
  --border-color-cyan: #44d3d2;
  --border-color-blue: #549ef2;
  --border-color-orange: #fcae4a;
  --font-family-main: "Poppins";
  --fw-extraLight: 200;
  --fw-regular: 400;
  --fw-semiBold: 600;
  --border-radius: 8px;
  --shadow: 0 15px 30px -11px var(--color-shadow);
  --transition-duration: 250ms;
  --outline: 2px solid var(--border-color-orange);
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: var(--font-family-main), sans-serif;
  color: var(--color-grey-500);
  background-color: var(--color-background);
  line-height: 1.4;
  font-weight: var(--fw-regular);
}

.section {
  padding-block: clamp(56px, 7vw, 102px) clamp(46px, 11.32vw, 163px);
}

.container {
  padding-inline: clamp(30px, 7.9vw, 163px);
}

.features__title {
  margin-bottom: 16px;
  font-size: clamp(24px, 2.75vw, 36px);
  text-align: center;
  letter-spacing: 0.25px;
  font-weight: var(--fw-extraLight);
}
.features__title--accent {
  font-weight: var(--fw-semiBold);
}
.features__subtitle {
  width: clamp(316px, 60vw, 540px);
  margin-bottom: clamp(60px, 5.14vw, 74px);
  margin-inline: auto;
  font-size: clamp(14px, 1.5vw, 16px);
  letter-spacing: 0.1px;
  text-align: center;
}
.features__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(auto, 450px));
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "supervisor" "builder" "karma" "calculator";
  row-gap: 32px;
}
@media screen and (min-width: 768px) {
  .features__list {
    grid-template-columns: repeat(4, minmax(auto, 200px));
    grid-template-rows: repeat(3, auto);
    column-gap: 32px;
    grid-template-areas: ". builder builder ." "supervisor supervisor karma karma" ". calculator calculator .";
  }
}
@media screen and (min-width: 1440px) {
  .features__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    column-gap: 32px;
    grid-template-areas: ".           builder       ." "supervisor  builder       karma" "supervisor  calculator    karma" ".           calculator    .";
  }
}

.builder {
  grid-area: builder;
}

.supervisor {
  grid-area: supervisor;
}

.karma {
  grid-area: karma;
}

.calculator {
  grid-area: calculator;
}

.feature__card {
  --border-color: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px 32px 47px;
  border-top: 4px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}
.feature__card--cyan-border-top {
  --border-color: var(--border-color-cyan);
}
.feature__card--red-border-top {
  --border-color: var(--border-color-red);
}
.feature__card--orange-border-top {
  --border-color: var(--border-color-orange);
}
.feature__card--blue-border-top {
  --border-color: var(--border-color-blue);
}
.feature__title {
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 1.35;
  font-weight: var(--fw-semiBold);
}
.feature__description {
  margin-bottom: 32px;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: 0.09px;
}
.feature__icon {
  margin-left: auto;
}

.attribution {
  padding-block: 15px;
  font-size: 12px;
  text-align: center;
}

.link {
  color: var(--border-color-orange);
  transition: color var(--transition-duration), outline var(--transition-duration);
}
.link:hover, .link:focus {
  color: var(--border-color-cyan);
}
.link:focus, .link:focus-visible {
  outline: var(--outline);
  outline-offset: 3px;
  border-radius: var(--border-radius);
}
@media (prefers-reduced-motion: reduce) {
  .link {
    transition-duration: 0.01ms;
  }
}/*# sourceMappingURL=main.css.map */