@use "../utils/variables" as *;

body {
  font-family: var(--font-family-main), sans-serif;
  color: var(--color-grey-500);
  background-color: var(--color-background);
  line-height: 1.4;
  font-weight: var(--fw-regular);
}

.section {
  padding-block: clamp(3.5rem, 7vw, 6.375rem)
    clamp(2.875rem, 11.32vw, 10.1875rem);
}

.container {
  padding-inline: clamp(1.875rem, 7.9vw, 10.1875rem);
}
