:root {
  --color-grey-500: #4d4f62;
  --color-grey-400: #6a7178;
  --color-white: #ffffff;
  --color-background: #fafafa;
  --color-shadow: rgba(131, 166, 210, 0.5);
  --border-color-red: #ea5454;
  --border-color-cyan: #44d3d2;
  --border-color-blue: #549ef2;
  --border-color-orange: #fcae4a;

  --font-family-main: "Poppins";
  --fw-extraLight: 200;
  --fw-regular: 400;
  --fw-semiBold: 600;
  --border-radius: 8px;
  --shadow: 0 15px 30px -11px var(--color-shadow);
  --transition-duration: 250ms;
  --outline: 2px solid var(--border-color-orange);
}

$tablet-bp: 768px;
$desktop-bp: 1440px;
