:root {
  --color-grey-500: #4d4f62;
  --color-grey-400: #6a7178;
  --color-white: #ffffff;
  --border-color-red: #ea5454;
  --border-color-cyan: #44d3d2;
  --border-color-blue: #549ef2;
  --border-color-orange: #fcae4a;

  --font-family-main: "Poppins";
  --fw-extraLight: 200;
  --fw-regular: 400;
  --fw--semiBold: 600;
}
