.feature {
  &__card {
    --border-color: transparent;

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 2rem 2.9375rem;
    border-top: 4px solid var(--border-color);

    border-radius: var(--border-radius);
    box-shadow: var(--shadow);

    &--cyan-border-top {
      --border-color: var(--border-color-cyan);
    }

    &--red-border-top {
      --border-color: var(--border-color-red);
    }

    &--orange-border-top {
      --border-color: var(--border-color-orange);
    }

    &--blue-border-top {
      --border-color: var(--border-color-blue);
    }
  }

  &__title {
    margin-bottom: 0.375rem;
    font-size: 1.25rem;
    line-height: 1.35;
    font-weight: var(--fw-semiBold);
  }

  &__description {
    font-size: 0.8125rem;
    line-height: 1.6;
    letter-spacing: 0.09px;
  }

  &__icon {
    margin-left: auto;
  }
}

.description-container {
  margin-bottom: 2rem;
}
